.profile {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
}
@media (min-width: 320px) {
  .profile {
    flex-direction: column;
  }
}

@media (min-width: 581px) {
  .profile {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
