.header__logo {
}
@media (min-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
    padding-bottom: 31.6px;
  }
}
@media (min-width: 581px) {
  .header__logo {
    margin-left: 0px;
    width: 142px;
    height: 33px;
    padding-bottom: 0px;
  }
}
