.popup__close-button {
  /*display: none;*/
  background: none;
  position: absolute;
  /*z-index: 2;*/
  background-image: url("../../../images/close_icon.svg");
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-position: center;
}
.popup__close-button:hover{
    opacity:60%;
}
@media (min-width: 320px) {
  .popup__close-button {
    top: -36px /*calc(50vh - 197px)*/;
    right: 0px; /*calc(50vw + 121px);*/
    width: 20px;
    height: 20px;
    background-size: 20px;
    object-fit: cover;
  }
}

@media (min-width: 581px) {
  .popup__close-button {
    top: -40px /*calc(50vh - 205px)*/;
    right: -40px; /*calc(50vw + 223px);*/
    width: 32px;
    height: 32px;
    background-size: 32px;
  }
}
