.footer {
  color: rgba(84, 84, 84, 1);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}
@media (min-width: 320px) {
  .footer {
    font-size: 14px;
    margin-left: 19px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
@media (min-width: 581px) {
  .footer {
    font-size: 18px;
    margin-top: 67px;
    margin-bottom: 60px;
    margin-left: 5px;
  }
}
