.profile__add-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 1);
}
.profile__add-button-container:hover {
  opacity: 60%;
}
@media (min-width: 320px) {
  .profile__add-button-container {
    width: 282px;
    height: 50px;
    align-self: center;
    margin-top: 36px;
  }
}
@media (min-width: 581px) {
  .profile__add-button-container {
    width: 150px;
    height: 50px;
    margin-top: 0px;
  }
}
